__pycache__/
*.pyc
.DS_Store
.env
resources/tmp
run_logikprojekt_linux.sh
install/current_adsk_python_version.pref
LOGIK-PROJEKT.app
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit
development/send_webhook.sh
customization/testing/premiere_directories.py
customization/branding/rocky-fonts
customization/branding/rocky-fonts/rocky-fonts-master
error
customization/branding/logik-projekt-press-release-fr

.codegpt